<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="footer" class="bg-secondary">
    <div class="container">
        <div class="row">
            <!-- 二维码 -->
            <div class="col-4 qrcode">
                <img th:src="@{/img/res/qrcode_bwael.png}" class="img-thumbnail" style="width:136px;"/>
            </div>
            <!-- 公司信息 -->
            <div class="col-8 detail-info">
                <div class="row">
                    <div class="col">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">关于我们</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">联系我们</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">免责声明</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">友情链接</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <ul class="nav btn-group-vertical company-info">
                            <li class="nav-item text-white-50">
                                联系方式：029-XXXXXXXX(电话)&nbsp;&nbsp;&nbsp;&nbsp;admin@XXXXXX.com
                            </li>
                            <li class="nav-item text-white-50">
                                XXXX ©2020 All rights reserved
                            </li>
                            <li class="nav-item text-white-50">
                                陕ICP备XXXXXXXX号 &nbsp;&nbsp;&nbsp;&nbsp;
                                <img th:src="@{/img/res/gawb.png}" style="width:18px;"/>
                                陕公网安备 XXXXXXXXXXXXXX号
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>